{% extends "books/base.html" %}
{% load staticfiles %}

{% block style %}
    <LINK href="{% static 'css/basic/form.css' %}" rel="stylesheet" title="basicstyle" type="text/css" /> 
{% endblock %}

{% block title %}Submit New Book{% endblock %}

{% block body %}
    <h1>Submit New Book</h1>
    <div>
        <form id="book_form" method="post" action="{% url 'books:add_book' %}">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{hidden}}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="formentry">
                <div class="formtext">
                    {{field.errors}}
                    {{field.help_text}}
                </div>
                <div class="formfield">
                    {{field}}
                </div>
            </div>
            <br />
                {% endfor %}
                <input type="submit" name="submit" class="submit" value="Submit Book" />
</form>
    </div>
{% endblock %}