<!DOCTYPE HTML>
{% load staticfiles %}
<html>
<head>
    <LINK href="{% static 'css/basic/basic.css' %}" rel="stylesheet" title="basicstyle" type="text/css" />
    {% block style %}{% endblock %}
    <title>
        {% block title %}{% endblock %}
    </title>
</head>
<body>
    <header>
    <div class="logo" > <a href="/books"><img src="{% static 'images/title_logo.png' %}" alt="Best Books"/> </a></div>
        <div class="nav" id="nav">
            <ul>
                <li><a href="/books" {% if request.path == '/books/' %} class="active" {% endif %}>Home</a></li>
                <li><a href="/books/submit-book" {% if request.path == '/books/submit-book/' %} class="active" {% endif %}>Submit Book</a></li>
                <li><a href="/books/all-books" {% if request.path == '/books/all-books/' %} class="active" {% endif %}>Browse Books</a></li>
                <li><a href="/books/about/" {% if request.path == '/books/about/' %} class="active" {% endif %}>About Us</a></li>
                <li><a href="/books/sign-up" class="login{% if request.path == '/books/sign-up/' %} active{% endif %}">Sign Up</a></li>
                <li><a href="/books/log-in" class="login{% if request.path == '/books/log-in/' %} active{% endif %}">Log In</a></li>

            </ul> <br /> <br />
        </div>
    </header>
    <script src="{% static 'javascript/basic/basic.js' %}"></script>
    <content>
        {% block body %}{% endblock %}
    </content>
</body>
