body {
	font-family: 'Calibri';
	font-weight: 300;
	background-color: #F9F9F9;
	margin: 0;
	padding: 0;
}

content {
	position: absolute;
	margin: 4px 7px 2px 4px;
	padding: 4px 7px 2px 4px;
	left: 8px;
}

h1 {
	font-family: 'Yu Mincho';
	font-weight: 400;
	font-size: 36px;
	line-height: 18px;
}

header {
	height: 130px;
	width: 98.9vw;
}

.logo {
	width: 100%;
	position:center;
	text-align: center;
	border-bottom:solid 1px #808080;
}

.nav {
	border-bottom: solid #555 3px;
	padding-bottom:1px;
	background-color: #F9F9F9;
}

.sticky {
	top: 0px;
	width: 98.9vw;
	position: fixed;
	height: 38px;
	border-spacing: 1px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.nav li a {
	color: #000;
	text-decoration: none;
	padding: 11px 18px;
	float: left;
}

.nav .login {
	float: right;
}

.nav li :not(.active):hover {
	background-color: #A1465A;
	color: white;
}

.nav li .active {
	background-color: #555;
	color: white;
}